body {
	background-color: #000000;
	text-align: center;
}

h1, h2, h3, h4, h5, p, a, li {
	font-family: monospace;
	color: #008000;
}

div.center {
	padding-top: 10em;
}

ul {
	list-style: none;
}

.blink {
	animation: blink-animation 0.5s steps(5, start) infinite;
	-webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
